*{
    -fx-green-background-color: #006600;
    -fx-ligthblue-background-color: #99ccff;
    -fx-white-text-color: #fff;
    -fx-black-text-color: #000;
}

.root {
    -fx-font-family: "Fredoka One";
}

.SystemBackground {
    -fx-background-image: url("../resources/ProgramImages/SystemBackground.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

.NormalMass {
    -fx-image: url("../resources/ProgramImages/1.png");
}

.MandalaMass {
    -fx-image: url("../resources/ProgramImages/2.png");
}

.VictorianMass {
    -fx-image: url("../resources/ProgramImages/3.png");
}

.PersonalizeMass {
    -fx-image: url("../resources/ProgramImages/4.png");
}

.GrassBackground {
    -fx-image: url("../resources/ProgramImages/GrassBackground.jpg");
}

.WoodBackground {
    -fx-image: url("../resources/ProgramImages/WoodBackground.jpg");
}

.btnExit > ImageView {
    -fx-image: url("../resources/ProgramImages/ExitIcon.png");
}

.WebIcon {
    -fx-image: url("../resources/ProgramImages/WebIcon.png");
}

.FullScreenIcon {
    -fx-image: url("../resources/ProgramImages/FullScreenIcon.png");
}

.MinimizeScreenIcon {
    -fx-image: url("../resources/ProgramImages/MinimizeScreenIcon.png");
}

.btnBackG > VBox > ImageView {
    -fx-image: url("../resources/ProgramImages/BackIcon.png");
}

.btnSettings > VBox > ImageView {
    -fx-image: url("../resources/ProgramImages/SettingsIcon.png");
}

.btnClues > VBox >  ImageView {
    -fx-image: url("../resources/ProgramImages/CluesIcon.png");
}

.btnUndo > VBox >  ImageView {
    -fx-image: url("../resources/ProgramImages/UndoIcon.png");
}

.btnBack > ImageView {
    -fx-image: url("../resources/ProgramImages/ReturnIcon.png");
}

.btnEdit > ImageView{
    -fx-image: url("../resources/ProgramImages/EditIcon.png");
}

.btnHelp > ImageView{
    -fx-image: url("../resources/ProgramImages/HelpIcon.png");
}

.btnStatistics > ImageView{
    -fx-image: url("../resources/ProgramImages/StatisticsIcon.png");
}

#GameHBox {
    -fx-background-color: -fx-green-background-color;
}

#GameLabel {
    -fx-font-size: 18px;
    -fx-text-fill: -fx-white-text-color;
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-effect: dropshadow(gaussian, rgba(153, 153, 153, 1), 5, 0, 0, 1);
}

#GameButton {
    -fx-background-color: -fx-green-background-color;
    -fx-border-color: -fx-white-text-color;
    -fx-border-width: 3;
    -fx-border-radius: 10;
    -fx-font-size: 14px;
    -fx-font-family: "Fredoka One";
    -fx-text-fill: -fx-white-text-color;
    -fx-font-weight: bold;
    -fx-padding: 3px;
}

#MenuLabel {
    -fx-font-size: 40px;
    -fx-text-fill: -fx-black-text-color;
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-effect: dropshadow(gaussian, rgba(153, 153, 153, 1), 5, 0, 0, 1);
}

#MenuButton {
    -fx-background-color: transparent;
    -fx-border-color: -fx-black-text-color;
    -fx-min-width: 170px;
    -fx-pref-width: 170px;
    -fx-border-width: 3;
    -fx-border-radius: 10;
    -fx-font-size: 25px;
    -fx-font-family: "Fredoka One";
    -fx-text-fill: -fx-black-text-color;
    -fx-font-weight: bold;
    -fx-padding: 3px;
}

#MenuButton:hover {
    -fx-background-color: -fx-black-text-color;
    -fx-font-family: "Fredoka One";
    -fx-text-fill: -fx-white-text-color;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#SystemButton {
    -fx-background-color: transparent;
    -fx-border-color: -fx-black-text-color;
    -fx-border-width: 3;
    -fx-border-radius: 10;
    -fx-font-size: 14px;
    -fx-font-family: "Fredoka One";
    -fx-text-fill: -fx-black-text-color;
    -fx-font-weight: bold;
    -fx-padding: 3px;
}

#SystemHeadLabel {
    -fx-font-size: 25px;
    -fx-text-fill: -fx-black-text-color;
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-effect: dropshadow(gaussian, rgba(153, 153, 153, 1), 5, 0, 0, 1);
}

.Label {
    -fx-font-size: 16px;
    -fx-text-fill: -fx-black-text-color;
    -fx-font-weight: bold;
    -fx-padding: 5px;
    -fx-effect: dropshadow(gaussian, rgba(153, 153, 153, 1), 5, 0, 0, 1);
}

.TextField {
    -mfx-main: -fx-black-text-color;
    -fx-background-color: transparent;
    -fx-border-color: -fx-black-text-color;
    -fx-border-width: 3;
    -fx-border-radius: 15;
    -fx-font-size: 18px;
    -fx-font-family: "Fredoka One";
    -fx-text-fill: -fx-black-text-color;
    -fx-font-weight: bold;
    -fx-min-height: 40px;
    -fx-pref-height: 40px;
    -fx-max-heigth: 40px;
    -fx-alignment: TOP_LEFT; 
} 

.UserPhoto-border {
    -fx-border-color: black;
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}

.SettingsPhotos {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}

.tab-pane .tab-header-area .tab-header-background  {
    -fx-background-color: black;
}
.tab-pane .tab {
    -fx-background-color: black;
    -fx-border-radius: 5px;
}
.tab-pane .tab .tab-label {
    -fx-font-family: "Fredoka One";
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

.tab-pane .tab:selected {
    -fx-background-color: -fx-ligthblue-background-color;
    -fx-font-family: "Fredoka One";
    -fx-font-weight: bold;
}

.tab-pane .tab:selected .tab-label {
     -fx-text-fill: black;
}

.card-button:hover {
    -fx-effect: dropshadow(gaussian, #FFD700, 20, 0.7, 0, 0);
    -fx-cursor: hand;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.table-view {
    -fx-font-family: "Fredoka One";
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.table-row-cell {
    -fx-font-family: "Fredoka One";
    -fx-background-color: transparent;
    -fx-border-color: rgba(255, 255, 255, 0.2);
}

.table-cell {
    -fx-font-family: "Fredoka One";
    -fx-text-fill: white;
}